---
import '../styles/reset.css'
import '../styles/global.css'
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico">
  <title>Frontend Mentor | NFT preview card component</title>
  <style>
    .attribution { font-size: 11px; text-align: center; color: white; }
  </style>
</head>
<body class="bg-dark-blue-main flex flex-col justify-center items-center p-2">
	<div class="w-96 bg-dark-blue-card rounded-2xl p-7 shadow-2xl">
		<div class="relative rounded-lg overflow-hidden cursor-pointer">
			<img class="w-full block" src="/images/image-equilibrium.jpg" alt="equilibrium cube nft image">
			<div class="absolute bottom-0 h-full w-full bg-primary-cyan opacity-0 hover:opacity-50 grid place-items-center ease-in duration-150">
				<img src="/images/icon-view.svg" alt="eyeball icon">
			</div>
		</div>
		<div class="grid gap-4">
			<h2 class="text-[#ffffff] text-2xl font-semibold mt-5 hover:text-primary-cyan cursor-pointer ease-in duration-200">
				Equilibrium #3429
			</h2>
			<p class="text-primary-soft-blue font-light">
				Our Equilibrium collection promotes balance and calm.
			</p>
			<div class="flex justify-between">
				<div class="flex items-center">
					<img class="mr-2" src="/images/icon-ethereum.svg" alt="ethereum logo icon">
					<span class="text-primary-cyan">0.041 ETH</span>
				</div>
				<div class="flex items-center">
					<img class="mr-2" src="/images/icon-clock.svg" alt="clock icon">
					<span class="text-primary-soft-blue">3 days left</span>
				</div>
			</div>	
				<hr class="border-dark-blue-line">
				<div class="flex items-center">
					<div class="rounded-full border-2 border-[#ffffff] mr-4">
						<img class="w-10" src="/images/image-avatar.png" alt="image avatar">
					</div>
					<span class="text-primary-soft-blue mr-1">Creation of</span>
					<span class="text-[#ffffff] hover:text-primary-cyan cursor-pointer ease-in duration-200">Jules Wyvern</span>
				</div>
		</div>
	</div>

  <div class="attribution absolute bottom-0 mb-2">
    Challenge by <a class="text-primary-cyan" href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a class="text-primary-cyan" href="https://twitter.com/difool0x">@difool0x</a>.
  </div>
</body>
</html>